# SVN repo files
.svn/

# Eclipse project files
.project
.classpath
.settings/
.euml2
.umlproject

# VS code project files
.vscode/**

# Other
target/
log/
*~
*pom.xml.releaseBackup
pdf-over-build/
release.properties
*.jar-bak
*.iml
*.idea
/installer/windows/*
*.jks
*.p12
