<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%-5p | %t @ %c{40} | %m%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/.pdf-over/logs/pdf-over.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%-5p | %d | %t @ %c | %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>${user.home}/.pdf-over/logs/pdf-over.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="at.asit.pdfover" level="INFO"/>
  <logger name="at.asit.pdfover.gui.bku" level="TRACE"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="LOGFILE"/>
  </root>
  <include file="${user.home}/.pdf-over-logging.xml" optional="true" />
</configuration>
