name: Build MacOS (x86_64)
on:
  push:
    branches: [ "development/automated-ui-test" ]
  pull_request:
    branches: [ "development/automated-ui-test" ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn -B clean install -Pmac -Pci-build -Dno-native-profile -Dmaven.test.skip=true
      - name: Run Tests
        run: mvn test -DargLine="-XstartOnFirstThread"
      - name: Describe current commit
        run: echo "commit_sha=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Remove Previous Build Artifacts
        uses: actions/github-script@v6
        with:
          script: |
            const { owner, repo } = context.issue;
            (await github.rest.actions.listArtifactsForRepo({ owner, repo })).data.artifacts
              .filter(({ name }) => (name.startsWith('pdf-over-${{ github.event.pull_request.number || github.ref_name }}-') && name.endsWith('macos-x86_64')))
              .forEach(({ id, name }) => { console.log('Deleting '+name+' ('+id+')'); github.rest.actions.deleteArtifact({ owner, repo, artifact_id: id }); });
      - name: Set executable permissions
        run: chmod +x pdf-over-build/*.sh pdf-over-build/jre/bin/*
      - name: Tar bundle
        run: tar -C pdf-over-build -cvf pdf-over.tar ./
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pdf-over-feature-automated-ui-test-${{ env.commit_sha }}-macos-x86_64
          path: pdf-over.tar

permissions:
  contents: read
  actions: write